Repository FuelLabs/fuel-vm, pull requests merged in 2023-04, with the labels that each got.

#418 Add tests for cb, bhsh and bhei instructions
  fuel-vm/src/tests/blockchain.rs
Labels: testing, fuel-vm

#416 Ownership test of a validly-positioned zero-length range should succeed
  fuel-vm/src/interpreter/memory.rs
  fuel-vm/src/interpreter/memory/allocation_tests.rs
  fuel-vm/src/interpreter/memory/tests.rs
  fuel-vm/src/tests/memory.rs
Labels: bug, testing, fuel-vm

#422 Serialize BlockHeight as integer again
  fuel-types/src/numeric_types.rs
Labels: bug, breaking, fuel-types

#390 Adding more unit tests
  fuel-vm/src/interpreter/memory/allocation_tests.rs
  fuel-vm/src/interpreter/memory/tests.rs
Labels: testing, audit-blocker

#429 Update deps and audit
  .github/workflows/ci.yml
  .github/workflows/nightly-cargo-audit.yml
  fuel-crypto/Cargo.toml
  fuel-crypto/src/mnemonic.rs
  fuel-vm/Cargo.toml
Labels: audit-blocker

#424 Add wide math operations
  fuel-asm/Cargo.toml
  fuel-asm/src/args.rs
  fuel-asm/src/args/wideint.rs
  fuel-asm/src/encoding_tests.rs
  fuel-asm/src/lib.rs
  fuel-asm/src/op.rs
  fuel-asm/src/panic_reason.rs
  fuel-vm/Cargo.toml
  fuel-vm/src/gas.rs
  fuel-vm/src/gas/default_gas_costs.rs
  fuel-vm/src/interpreter/alu.rs
  fuel-vm/src/interpreter/alu/muldiv.rs
  fuel-vm/src/interpreter/alu/tests.rs
  fuel-vm/src/interpreter/alu/wideint.rs
  fuel-vm/src/interpreter/executors/instruction.rs
  fuel-vm/src/interpreter/executors/instruction/tests/reserved_registers.rs
  fuel-vm/src/interpreter/memory.rs
  fuel-vm/src/tests/alu.rs
  fuel-vm/src/tests/mod.rs
  fuel-vm/src/tests/spec.rs
  fuel-vm/src/tests/wideint.rs
Labels: fuel-vm, audit-blocker

#433 Do not panic when shifting by more than u32::MAX bits
  fuel-vm/src/interpreter/executors/instruction.rs
  fuel-vm/src/tests/alu.rs
Labels: breaking, fuel-vm
