Repository FuelLabs/fuel-vm, pull requests merged in 2023-01, with the labels that each got.

#289 Return `None` for zeroed `ContractId` in `Receipt`
  fuel-tx/src/receipt.rs
  fuel-vm/tests/flow.rs
Labels: bug

#279 Allow vm to take gas costs as input
  Cargo.toml
  fuel-vm/src/call.rs
  fuel-vm/src/gas.rs
  fuel-vm/src/gas/default_gas_costs.rs
  fuel-vm/src/interpreter.rs
  fuel-vm/src/interpreter/balances.rs
  fuel-vm/src/interpreter/blockchain.rs
  fuel-vm/src/interpreter/constructors.rs
  fuel-vm/src/interpreter/diff.rs
  fuel-vm/src/interpreter/diff/storage.rs
  fuel-vm/src/interpreter/diff/tests.rs
  fuel-vm/src/interpreter/executors/instruction.rs
  fuel-vm/src/interpreter/executors/main.rs
  fuel-vm/src/interpreter/flow.rs
  fuel-vm/src/interpreter/gas.rs
  fuel-vm/src/interpreter/gas/consts.rs
  fuel-vm/src/lib.rs
  fuel-vm/src/memory_client.rs
  fuel-vm/src/transactor.rs
  fuel-vm/src/util.rs
  fuel-vm/tests/alu.rs
  fuel-vm/tests/blockchain.rs
  fuel-vm/tests/flow.rs
  fuel-vm/tests/memory.rs
  fuel-vm/tests/metadata.rs
  fuel-vm/tests/predicate.rs
Labels: fuel-vm

#305 Fix broken spec links
  fuel-asm/src/opcode/consts.rs
  fuel-crypto/src/signature.rs
  fuel-tx/src/checked_transaction.rs
  fuel-tx/src/contract.rs
  fuel-tx/src/transaction.rs
  fuel-tx/src/transaction/checkable.rs
  fuel-tx/src/transaction/types/mint.rs
  fuel-types/src/types.rs
  fuel-vm/src/call.rs
Labels: documentation

#303 Add a top-level readme file
  README.md
Labels: documentation

#315 check if contract already exists before deploying
  fuel-asm/src/panic_reason.rs
  fuel-vm/src/interpreter/executors/main.rs
  fuel-vm/tests/contract.rs
Labels: bug

#317 Update default gas costs
  fuel-vm/src/gas/default_gas_costs.rs
Labels: enhancement

#307 Predicate gas metering
  fuel-tx/Cargo.toml
  fuel-tx/src/builder.rs
  fuel-tx/src/lib.rs
  fuel-tx/src/transaction.rs
  fuel-tx/src/transaction/fee.rs
  fuel-tx/src/transaction/types.rs
  fuel-tx/src/transaction/types/create.rs
  fuel-tx/src/transaction/types/mint.rs
  fuel-tx/src/transaction/types/script.rs
  fuel-tx/src/transaction/validity.rs
  fuel-tx/src/transaction/validity/error.rs
  fuel-tx/test-helpers/src/lib.rs
  fuel-vm/Cargo.toml
  fuel-vm/src/checked_transaction.rs
  fuel-vm/src/checked_transaction/balances.rs
  fuel-vm/src/checked_transaction/builder.rs
  fuel-vm/src/checked_transaction/types.rs
  fuel-vm/src/error.rs
  fuel-vm/src/interpreter.rs
  fuel-vm/src/interpreter/debug.rs
  fuel-vm/src/interpreter/diff/tests.rs
  fuel-vm/src/interpreter/executors/instruction/tests/reserved_registers.rs
  fuel-vm/src/interpreter/executors/main.rs
  fuel-vm/src/interpreter/gas.rs
  fuel-vm/src/interpreter/initialization.rs
  fuel-vm/src/interpreter/internal.rs
  fuel-vm/src/interpreter/memory.rs
  fuel-vm/src/lib.rs
  fuel-vm/src/memory_client.rs
  fuel-vm/src/transactor.rs
  fuel-vm/src/util.rs
  fuel-vm/tests/alu.rs
  fuel-vm/tests/backtrace.rs
  fuel-vm/tests/blockchain.rs
  fuel-vm/tests/code_coverage.rs
  fuel-vm/tests/contract.rs
  fuel-vm/tests/crypto.rs
  fuel-vm/tests/flow.rs
  fuel-vm/tests/memory.rs
  fuel-vm/tests/metadata.rs
  fuel-vm/tests/predicate.rs
  fuel-vm/tests/profile_gas.rs
  fuel-vm/tests/validation.rs
Labels: fuel-vm, fuel-tx

#322 feat: Separate SMT impls for mutable and immutable storage
  fuel-merkle/src/binary/in_memory.rs
  fuel-merkle/src/sparse/in_memory.rs
  fuel-merkle/src/sparse/merkle_tree.rs
  fuel-merkle/src/sparse/node.rs
Labels: fuel-merkle

#323 feat: Add `leaves_count` to BMT
  fuel-merkle/src/binary/merkle_tree.rs
Labels: fuel-merkle

#328 chore: BMT clean up
  fuel-merkle/src/binary/in_memory.rs
  fuel-merkle/src/binary/merkle_tree.rs
Labels: fuel-merkle

#332 Use the recently stabilized checked_ilog
  .github/workflows/ci.yml
  fuel-asm/src/panic_reason.rs
  fuel-asm/tests/encoding.rs
  fuel-crypto/src/error.rs
  fuel-crypto/tests/signature.rs
  fuel-merkle/src/common/prefix.rs
  fuel-tx/src/contract.rs
  fuel-tx/src/transaction.rs
  fuel-tx/src/transaction/types/input/repr.rs
  fuel-tx/src/transaction/types/output/repr.rs
  fuel-tx/src/transaction/types/utxo_id.rs
  fuel-tx/src/transaction/validity/error.rs
  fuel-tx/src/tx_pointer.rs
  fuel-types/tests/types.rs
  fuel-vm/src/checked_transaction.rs
  fuel-vm/src/interpreter/executors/instruction.rs
  fuel-vm/src/interpreter/executors/instruction/tests/math_operations.rs
  fuel-vm/src/interpreter/post_execution.rs
  fuel-vm/src/profiler.rs
  fuel-vm/tests/outputs.rs
  fuel-vm/tests/profile_gas.rs
Labels: tech-debt

#331 Added additional methods for storage for the cases when the developer need to work with `StorageAsRef` and `StorageAsMut`
  fuel-storage/src/impls.rs
  fuel-storage/src/lib.rs
Labels: breaking, fuel-storage

#334 Implement `fmt::Display` for `TxPointer`
  fuel-tx/src/tx_pointer.rs
Labels: enhancement, fuel-tx
