Repository FuelLabs/fuel-vm, pull requests merged in 2023-03, with the labels that each got.

#354 Make all op functions unit testable
  fuel-asm/src/panic_reason.rs
  fuel-vm/src/constraints.rs
  fuel-vm/src/constraints/reg_key.rs
  fuel-vm/src/constraints/reg_key/tests.rs
  fuel-vm/src/error.rs
  fuel-vm/src/interpreter.rs
  fuel-vm/src/interpreter/alu.rs
  fuel-vm/src/interpreter/blockchain.rs
  fuel-vm/src/interpreter/blockchain/test/scwq.rs
  fuel-vm/src/interpreter/blockchain/test/srwq.rs
  fuel-vm/src/interpreter/blockchain/test/swwq.rs
  fuel-vm/src/interpreter/contract.rs
  fuel-vm/src/interpreter/crypto.rs
  fuel-vm/src/interpreter/executors/instruction.rs
  fuel-vm/src/interpreter/flow.rs
  fuel-vm/src/interpreter/flow/tests.rs
  fuel-vm/src/interpreter/gas.rs
  fuel-vm/src/interpreter/gas/tests.rs
  fuel-vm/src/interpreter/internal.rs
  fuel-vm/src/interpreter/internal/tests.rs
  fuel-vm/src/interpreter/log.rs
  fuel-vm/src/interpreter/memory.rs
  fuel-vm/src/interpreter/metadata.rs
  fuel-vm/src/lib.rs
  fuel-vm/tests/backtrace.rs
  fuel-vm/tests/blockchain.rs
  fuel-vm/tests/metadata.rs
Labels: testing, fuel-vm

#370 CALL instruction recursion limit
  fuel-asm/src/panic_reason.rs
  fuel-vm/src/consts.rs
  fuel-vm/src/interpreter/executors/instruction.rs
  fuel-vm/tests/flow.rs
Labels: breaking, fuel-vm

#358 Unit tests for op functions
  fuel-vm/src/interpreter/alu.rs
  fuel-vm/src/interpreter/alu/tests.rs
  fuel-vm/src/interpreter/balances.rs
  fuel-vm/src/interpreter/blockchain.rs
  fuel-vm/src/interpreter/blockchain/code_tests.rs
  fuel-vm/src/interpreter/blockchain/other_tests.rs
  fuel-vm/src/interpreter/blockchain/smo_tests.rs
  fuel-vm/src/interpreter/blockchain/test.rs
  fuel-vm/src/interpreter/contract.rs
  fuel-vm/src/interpreter/contract/tests.rs
  fuel-vm/src/interpreter/crypto.rs
  fuel-vm/src/interpreter/crypto/tests.rs
  fuel-vm/src/interpreter/flow.rs
  fuel-vm/src/interpreter/flow/jump_tests.rs
  fuel-vm/src/interpreter/flow/ret_tests.rs
  fuel-vm/src/interpreter/internal.rs
  fuel-vm/src/interpreter/internal/message_tests.rs
  fuel-vm/src/interpreter/log.rs
  fuel-vm/src/interpreter/log/tests.rs
  fuel-vm/src/interpreter/memory.rs
  fuel-vm/src/interpreter/memory/allocation_tests.rs
  fuel-vm/src/interpreter/memory/tests.rs
  fuel-vm/src/interpreter/metadata.rs
  fuel-vm/src/interpreter/metadata/tests.rs
Labels: testing, fuel-vm

#376 Make call instruction implementation non-recursive
  fuel-vm/src/interpreter/executors/instruction.rs
  fuel-vm/src/interpreter/executors/main.rs
  fuel-vm/src/interpreter/flow.rs
Labels: tech-debt, fuel-vm

#379 feat: Support zero sum in SMT load
  fuel-merkle/src/binary/merkle_tree.rs
  fuel-merkle/src/sparse.rs
  fuel-merkle/src/sparse/merkle_tree.rs
Labels: fuel-merkle

#377 Make $hp point to the first available byte, instead of the one before it
  fuel-vm/src/interpreter/blockchain.rs
  fuel-vm/src/interpreter/initialization.rs
  fuel-vm/src/interpreter/memory.rs
  fuel-vm/src/interpreter/memory/tests.rs
  fuel-vm/tests/backtrace.rs
  fuel-vm/tests/blockchain.rs
  fuel-vm/tests/crypto.rs
  fuel-vm/tests/flow.rs
  fuel-vm/tests/memory.rs
  fuel-vm/tests/metadata.rs
  fuel-vm/tests/predicate.rs
Labels: fuel-vm

#388 Make `double_key!` public
  fuel-vm/src/storage.rs
Labels: enhancement

#364 Refactoring inputs to be named types
  fuel-tx/src/lib.rs
  fuel-tx/src/transaction.rs
  fuel-tx/src/transaction/id.rs
  fuel-tx/src/transaction/types.rs
  fuel-tx/src/transaction/types/input.rs
  fuel-tx/src/transaction/types/input/coin.rs
  fuel-tx/src/transaction/types/input/consts.rs
  fuel-tx/src/transaction/types/input/contract.rs
  fuel-tx/src/transaction/types/input/io.rs
  fuel-tx/src/transaction/types/input/message.rs
  fuel-tx/src/transaction/types/input/ser_de_tests.rs
  fuel-tx/src/transaction/types/input/sizes.rs
  fuel-tx/src/transaction/validity.rs
  fuel-vm/src/checked_transaction/balances.rs
  fuel-vm/src/interpreter/executors/main.rs
  fuel-vm/src/storage/interpreter.rs
  fuel-vm/src/util.rs
Labels: breaking, fuel-tx

#380 Add more memory range test cases
  fuel-vm/src/tests/alu.rs
  fuel-vm/src/tests/log.rs
  fuel-vm/src/tests/mod.rs
  fuel-vm/src/tests/spec.rs
  fuel-vm/src/tests/test_helpers.rs
Labels: testing

#394 Use 32-byte array instead of `Word` for the message nonce
  fuel-tx/src/builder.rs
  fuel-tx/src/tests/valid_cases/input.rs
  fuel-tx/src/transaction.rs
  fuel-tx/src/transaction/id.rs
  fuel-tx/src/transaction/types/input.rs
  fuel-tx/src/transaction/types/input/consts.rs
  fuel-tx/src/transaction/types/input/message.rs
  fuel-tx/src/transaction/types/input/repr.rs
  fuel-tx/src/transaction/types/input/ser_de_tests.rs
  fuel-tx/src/transaction/types/input/sizes.rs
  fuel-tx/src/transaction/types/input/snapshot_tests.rs
  fuel-tx/src/transaction/types/input/snapshots/fuel_tx__transaction__types__input__snapshot_tests__tx_with_predicate_message_coin.snap
  fuel-tx/src/transaction/types/input/snapshots/fuel_tx__transaction__types__input__snapshot_tests__tx_with_predicate_message_data.snap
  fuel-tx/src/transaction/types/input/snapshots/fuel_tx__transaction__types__input__snapshot_tests__tx_with_signed_message_coin.snap
  fuel-tx/src/transaction/types/input/snapshots/fuel_tx__transaction__types__input__snapshot_tests__tx_with_signed_message_data.snap
  fuel-types/src/tests/types.rs
  fuel-types/src/types.rs
  fuel-vm/src/interpreter/metadata.rs
  fuel-vm/src/tests/encoding.rs
  fuel-vm/src/tests/metadata.rs
Labels: breaking

#383 Cache receipts in in-memory BMT during execution
  fuel-merkle/src/binary/in_memory.rs
  fuel-merkle/src/binary/merkle_tree.rs
  fuel-merkle/src/common/storage_map.rs
  fuel-merkle/src/sparse/in_memory.rs
  fuel-vm/src/interpreter.rs
  fuel-vm/src/interpreter/blockchain.rs
  fuel-vm/src/interpreter/blockchain/smo_tests.rs
  fuel-vm/src/interpreter/constructors.rs
  fuel-vm/src/interpreter/contract.rs
  fuel-vm/src/interpreter/contract/tests.rs
  fuel-vm/src/interpreter/diff.rs
  fuel-vm/src/interpreter/executors/main.rs
  fuel-vm/src/interpreter/flow.rs
  fuel-vm/src/interpreter/flow/ret_tests.rs
  fuel-vm/src/interpreter/flow/tests.rs
  fuel-vm/src/interpreter/internal.rs
  fuel-vm/src/interpreter/internal/message_tests.rs
  fuel-vm/src/interpreter/log.rs
  fuel-vm/src/interpreter/log/tests.rs
  fuel-vm/src/interpreter/receipts.rs
  fuel-vm/src/tests/flow.rs
Labels: fuel-vm, fuel-merkle

#381 Relative jump opcodes
  fuel-asm/src/lib.rs
  fuel-asm/src/macros.rs
  fuel-asm/src/pack.rs
  fuel-asm/src/unpack.rs
  fuel-vm/src/gas.rs
  fuel-vm/src/gas/default_gas_costs.rs
  fuel-vm/src/interpreter/executors/instruction.rs
  fuel-vm/src/interpreter/executors/instruction/tests/reserved_registers.rs
  fuel-vm/src/interpreter/flow.rs
  fuel-vm/src/interpreter/flow/jump_tests.rs
  fuel-vm/src/tests/alu.rs
  fuel-vm/src/tests/flow.rs
  fuel-vm/src/tests/jump_absolute.rs
  fuel-vm/src/tests/jump_relative.rs
  fuel-vm/src/tests/memory.rs
  fuel-vm/src/tests/mod.rs
  fuel-vm/src/tests/test_helpers.rs
Labels: enhancement, fuel-vm, fuel-asm

#404 Make SMO instruction take data ptr as an argument
  fuel-asm/src/panic_reason.rs
  fuel-vm/src/interpreter/blockchain.rs
  fuel-vm/src/interpreter/blockchain/smo_tests.rs
  fuel-vm/src/interpreter/executors/instruction.rs
  fuel-vm/src/tests/blockchain.rs
Labels: breaking, fuel-vm

#409 chore: Refactor BMT proof data tests to use encoded value
  fuel-merkle/test-helpers/src/data/binary.rs
  fuel-merkle/test-helpers/src/data/sparse.rs
  fuel-merkle/test-helpers/src/data/test_error.rs
  fuel-merkle/test-helpers/src/suites/binary_proofs.rs
  fuel-merkle/tests-data-binary/fixtures/Test 0 Leaves.yaml
  fuel-merkle/tests-data-binary/fixtures/Test 1 Leaf Index 0.yaml
  fuel-merkle/tests-data-binary/fixtures/Test 1 Leaf Invalid Proof Index.yaml
  fuel-merkle/tests-data-binary/fixtures/Test 1 Leaf Invalid Root.yaml
  fuel-merkle/tests-data-binary/fixtures/Test 10 Leaves Index 4.yaml
  fuel-merkle/tests-data-binary/fixtures/Test 100 Leaves Index 10.yaml
  fuel-merkle/tests-data-binary/fixtures/Test 1024 Leaves Index 512.yaml
  fuel-merkle/tests-data-binary/fixtures/Test 1024 Leaves Invalid Root.yaml
Labels: fuel-merkle

#407 Make SMO charge from contract balance in internal context
  fuel-vm/src/interpreter/blockchain.rs
  fuel-vm/src/interpreter/blockchain/smo_tests.rs
Labels: breaking, fuel-vm
