Repository FuelLabs/fuel-vm, pull requests merged in 2023-08, with the labels that each got.

#511 Return correct PanicReason on memory-related panics
  CHANGELOG.md
  fuel-asm/src/encoding_tests.rs
  fuel-asm/src/lib.rs
  fuel-asm/src/panic_reason.rs
  fuel-vm/Cargo.toml
  fuel-vm/src/consts.rs
  fuel-vm/src/interpreter/blockchain.rs
  fuel-vm/src/interpreter/blockchain/test.rs
  fuel-vm/src/interpreter/contract.rs
  fuel-vm/src/interpreter/crypto.rs
  fuel-vm/src/interpreter/executors/instruction.rs
  fuel-vm/src/interpreter/executors/main.rs
  fuel-vm/src/interpreter/flow.rs
  fuel-vm/src/interpreter/flow/ret_tests.rs
  fuel-vm/src/interpreter/internal.rs
  fuel-vm/src/interpreter/log.rs
  fuel-vm/src/interpreter/memory.rs
  fuel-vm/src/interpreter/memory/allocation_tests.rs
  fuel-vm/src/interpreter/memory/tests.rs
  fuel-vm/src/tests/blockchain.rs
Labels: bug, breaking

#546 Instruction debug fmt improvements
  CHANGELOG.md
  fuel-asm/src/macros.rs
  fuel-asm/src/panic_instruction.rs
Labels: tech-debt, fuel-asm

#524 Fix a crash in CCP and zero-filling issues in CCP and LDC
  CHANGELOG.md
  fuel-types/src/bytes.rs
  fuel-vm/src/interpreter/blockchain.rs
  fuel-vm/src/interpreter/memory.rs
  fuel-vm/src/interpreter/memory/tests.rs
  fuel-vm/src/tests/blockchain.rs
Labels: bug, breaking, tech-debt, fuel-vm

#575 Update CI RUST_VERSION to 1.72.0
  .github/workflows/ci.yml
  ci_checks.sh
  fuel-vm/src/interpreter/balances.rs
  fuel-vm/src/interpreter/blockchain/code_tests.rs
  fuel-vm/src/interpreter/blockchain/other_tests.rs
  fuel-vm/src/interpreter/blockchain/smo_tests.rs
  fuel-vm/src/tests/blockchain.rs
  fuel-vm/src/tests/flow.rs
  fuel-vm/src/tests/predicate.rs
Labels: no changelog
