Repository FuelLabs/fuel-vm, pull requests merged in 2023-07, with the labels that each got.

#503 Use correct amount of gas in call receipts when limited by cgas
  fuel-vm/src/interpreter/flow.rs
  fuel-vm/src/interpreter/flow/tests.rs
Labels: bug, fuel-vm

#504 Bugfixes found during chatting with Auditors on July 7th
  CHANGELOG.md
  fuel-vm/src/call.rs
  fuel-vm/src/interpreter.rs
  fuel-vm/src/interpreter/blockchain.rs
  fuel-vm/src/interpreter/blockchain/code_tests.rs
  fuel-vm/src/interpreter/blockchain/other_tests.rs
  fuel-vm/src/interpreter/contract.rs
  fuel-vm/src/interpreter/contract/tests.rs
  fuel-vm/src/interpreter/flow.rs
  fuel-vm/src/interpreter/flow/tests.rs
  fuel-vm/src/interpreter/gas.rs
  fuel-vm/src/interpreter/gas/tests.rs
  fuel-vm/src/tests/metadata.rs
Labels: bug, fuel-vm

#505 Removed the `data` field from canonical serialization and deserialization of receipts
  CHANGELOG.md
  fuel-tx/src/receipt.rs
  fuel-tx/src/receipt/receipt_std.rs
  fuel-tx/src/receipt/sizes.rs
  fuel-tx/src/tests/bytes.rs
  fuel-types/src/fmt.rs
  fuel-vm/src/interpreter/blockchain.rs
  fuel-vm/src/interpreter/flow.rs
  fuel-vm/src/interpreter/flow/ret_tests.rs
  fuel-vm/src/interpreter/log.rs
  fuel-vm/src/interpreter/log/tests.rs
  fuel-vm/src/tests/blockchain.rs
  fuel-vm/src/tests/memory.rs
  fuel-vm/src/tests/wideint.rs
Labels: bug

#486 Secp256r1 signature recovery and Ed25519 verification
  CHANGELOG.md
  fuel-asm/README.md
  fuel-asm/src/lib.rs
  fuel-asm/src/macros.rs
  fuel-crypto/Cargo.toml
  fuel-crypto/src/ed25519.rs
  fuel-crypto/src/error.rs
  fuel-crypto/src/keystore.rs
  fuel-crypto/src/lib.rs
  fuel-crypto/src/message.rs
  fuel-crypto/src/secp256k1/public.rs
  fuel-crypto/src/secp256k1/secret.rs
  fuel-crypto/src/secp256k1/signature.rs
  fuel-crypto/src/secp256r1.rs
  fuel-crypto/src/signer.rs
  fuel-crypto/src/tests/hasher.rs
  fuel-crypto/src/tests/mnemonic.rs
  fuel-crypto/src/tests/mod.rs
  fuel-crypto/src/tests/serde.rs
  fuel-crypto/src/tests/signature.rs
  fuel-crypto/src/tests/signer.rs
  fuel-vm/Cargo.toml
  fuel-vm/src/gas.rs
  fuel-vm/src/gas/default_gas_costs.rs
  fuel-vm/src/interpreter/crypto.rs
  fuel-vm/src/interpreter/crypto/tests.rs
  fuel-vm/src/interpreter/executors/instruction.rs
  fuel-vm/src/interpreter/executors/instruction/tests/reserved_registers.rs
  fuel-vm/src/interpreter/memory.rs
  fuel-vm/src/tests/crypto.rs
Labels: breaking, fuel-vm

#530 Reimplement `with_params` method for TxBuilder
  fuel-tx/src/builder.rs
Labels: no changelog

#525 Do not restore $hp when returning from a context
  CHANGELOG.md
  fuel-vm/src/interpreter/flow.rs
  fuel-vm/src/interpreter/flow/ret_tests.rs
Labels: fuel-vm

#532 Make TRO instruction revert on zero coin amount
  CHANGELOG.md
  fuel-asm/src/panic_reason.rs
  fuel-vm/src/interpreter/contract.rs
  fuel-vm/src/tests/outputs.rs
Labels: bug, breaking, fuel-vm

#531 Fix a crash in UtxoId::from_str and TxPointer::from_str with multibyte characters
  CHANGELOG.md
  fuel-asm/src/lib.rs
  fuel-crypto/src/lib.rs
  fuel-tx/src/lib.rs
  fuel-tx/src/transaction/types/utxo_id.rs
  fuel-tx/src/tx_pointer.rs
  fuel-vm/src/lib.rs
Labels: bug, tech-debt, fuel-tx
