Repository FuelLabs/fuel-vm, pull requests merged in 2023-06, with the labels that each got.

#473 Disallow setting $sp < $ssp using CFS and CFSI instructions
  CHANGELOG.md
  fuel-vm/src/interpreter/memory.rs
  fuel-vm/src/interpreter/memory/allocation_tests.rs
  fuel-vm/src/tests/memory.rs
Labels: bug, breaking, fuel-vm, audit-blocker

#478 MemoryRange rework
  fuel-vm/src/constraints.rs
  fuel-vm/src/error.rs
  fuel-vm/src/interpreter/balances.rs
  fuel-vm/src/interpreter/blockchain.rs
  fuel-vm/src/interpreter/contract.rs
  fuel-vm/src/interpreter/executors/predicate.rs
  fuel-vm/src/interpreter/flow.rs
  fuel-vm/src/interpreter/flow/tests.rs
  fuel-vm/src/interpreter/internal.rs
  fuel-vm/src/interpreter/memory.rs
  fuel-vm/src/interpreter/memory/allocation_tests.rs
  fuel-vm/src/interpreter/memory/tests.rs
  fuel-vm/src/predicate.rs
  fuel-vm/src/tests/blockchain.rs
Labels: tech-debt, fuel-vm

#476 Minor readibility improvements
  fuel-vm/src/call.rs
  fuel-vm/src/interpreter/blockchain.rs
  fuel-vm/src/interpreter/executors/instruction.rs
  fuel-vm/src/interpreter/flow.rs
  fuel-vm/src/interpreter/gas.rs
  fuel-vm/src/interpreter/memory.rs
Labels: fuel-vm

#485 Changed the API of the `SparseMerkleTree` to accept `MerkleStorageKey`
  CHANGELOG.md
  fuel-merkle/Cargo.toml
  fuel-merkle/benches/smt.rs
  fuel-merkle/src/sparse.rs
  fuel-merkle/src/sparse/in_memory.rs
  fuel-merkle/src/sparse/merkle_tree.rs
  fuel-merkle/test-helpers/Cargo.toml
  fuel-merkle/test-helpers/src/data/sparse.rs
  fuel-tx/src/contract.rs
  fuel-tx/src/snapshots/fuel_tx__contract__tests__state_root_snapshot@state-root-1.snap
Labels: breaking

#477 PanicReason rework
  CHANGELOG.md
  fuel-asm/src/encoding_tests.rs
  fuel-asm/src/panic_instruction.rs
  fuel-asm/src/panic_reason.rs
  fuel-tx/src/receipt/receipt_std.rs
  fuel-tx/src/tests/bytes.rs
Labels: breaking, tech-debt, fuel-asm

#497 Add argument names to fuel-asm opcodes
  fuel-asm/src/lib.rs
  fuel-asm/src/macros.rs
Labels: tech-debt, fuel-asm
