Repository FuelLabs/fuel-vm, pull requests merged in 2023-02, with the labels that each got.

#336 Remove `Clone` constraint from `PathIterator`
  fuel-merkle/src/common/path_iterator.rs
  fuel-merkle/src/sparse/merkle_tree.rs
  fuel-merkle/src/sum/merkle_tree.rs
Labels: fuel-merkle

#283 `fuel-asm` - refactor for improved type-safety around instructions, opcodes
  fuel-asm/README.md
  fuel-asm/src/args.rs
  fuel-asm/src/instruction.rs
  fuel-asm/src/instruction_result.rs
  fuel-asm/src/lib.rs
  fuel-asm/src/macros.rs
  fuel-asm/src/op.rs
  fuel-asm/src/opcode.rs
  fuel-asm/src/opcode/consts.rs
  fuel-asm/src/pack.rs
  fuel-asm/src/panic_reason.rs
  fuel-asm/src/unpack.rs
  fuel-asm/tests/encoding.rs
  fuel-tx/src/transaction/types/script.rs
  fuel-tx/tests/bytes.rs
  fuel-vm/src/call.rs
  fuel-vm/src/checked_transaction.rs
  fuel-vm/src/consts.rs
  fuel-vm/src/error.rs
  fuel-vm/src/interpreter.rs
  fuel-vm/src/interpreter/alu.rs
  fuel-vm/src/interpreter/balances.rs
  fuel-vm/src/interpreter/blockchain.rs
  fuel-vm/src/interpreter/contract.rs
  fuel-vm/src/interpreter/debug.rs
  fuel-vm/src/interpreter/diff/tests.rs
  fuel-vm/src/interpreter/executors/instruction.rs
  fuel-vm/src/interpreter/executors/instruction/tests.rs
  fuel-vm/src/interpreter/executors/instruction/tests/reserved_registers.rs
  fuel-vm/src/interpreter/executors/main.rs
  fuel-vm/src/interpreter/executors/predicate.rs
  fuel-vm/src/interpreter/flow.rs
  fuel-vm/src/interpreter/gas.rs
  fuel-vm/src/interpreter/initialization.rs
  fuel-vm/src/interpreter/internal.rs
  fuel-vm/src/interpreter/log.rs
  fuel-vm/src/interpreter/memory.rs
  fuel-vm/src/interpreter/metadata.rs
  fuel-vm/src/lib.rs
  fuel-vm/src/predicate.rs
  fuel-vm/src/state/debug.rs
  fuel-vm/src/util.rs
  fuel-vm/tests/alu.rs
  fuel-vm/tests/backtrace.rs
  fuel-vm/tests/blockchain.rs
  fuel-vm/tests/cgas.rs
  fuel-vm/tests/code_coverage.rs
  fuel-vm/tests/contract.rs
  fuel-vm/tests/crypto.rs
  fuel-vm/tests/flow.rs
  fuel-vm/tests/gas_factor.rs
  fuel-vm/tests/memory.rs
  fuel-vm/tests/metadata.rs
  fuel-vm/tests/outputs.rs
  fuel-vm/tests/predicate.rs
  fuel-vm/tests/profile_gas.rs
  fuel-vm/tests/validation.rs
Labels: breaking, fuel-vm, fuel-asm, fuel-tx

#344 Fix panics in fuel-vm for exponent or bitshift larger than u32::MAX
  fuel-vm/src/interpreter/executors/instruction.rs
Labels: bug

#345 Spec compliance testing, round 1
  fuel-asm/src/lib.rs
  fuel-vm/Cargo.toml
  fuel-vm/tests/spec.rs
Labels: testing, fuel-asm

#346 Refactor of `fuel-crypto` for clarity around safety
  fuel-crypto/Cargo.toml
  fuel-crypto/src/lib.rs
  fuel-crypto/src/message.rs
  fuel-crypto/src/mnemonic.rs
  fuel-crypto/src/public.rs
  fuel-crypto/src/secret.rs
  fuel-crypto/src/signature.rs
  fuel-crypto/tests/mnemonic.rs
  fuel-tx/src/transaction/id.rs
  fuel-tx/src/transaction/validity.rs
  fuel-types/src/types.rs
  fuel-vm/src/interpreter/crypto.rs
Labels: breaking, tech-debt, fuel-vm, fuel-crypto, fuel-types

#363 Do not allow setting reserved flags
  fuel-asm/Cargo.toml
  fuel-asm/src/lib.rs
  fuel-vm/src/interpreter.rs
  fuel-vm/src/interpreter/internal.rs
  fuel-vm/tests/spec.rs
Labels: breaking

#356 fix: Encode SMT error keys
  fuel-merkle/src/common.rs
  fuel-merkle/src/common/node.rs
  fuel-merkle/src/common/path_iterator.rs
  fuel-merkle/src/common/position.rs
  fuel-merkle/src/sparse/merkle_tree.rs
  fuel-merkle/src/sparse/node.rs
Labels: fuel-merkle

#353 Make prepare_call unit testable
  fuel-asm/src/panic_reason.rs
  fuel-storage/src/impls.rs
  fuel-vm/Cargo.toml
  fuel-vm/src/call.rs
  fuel-vm/src/constraints.rs
  fuel-vm/src/constraints/reg_key.rs
  fuel-vm/src/consts.rs
  fuel-vm/src/context.rs
  fuel-vm/src/error.rs
  fuel-vm/src/interpreter.rs
  fuel-vm/src/interpreter/balances.rs
  fuel-vm/src/interpreter/blockchain.rs
  fuel-vm/src/interpreter/blockchain/test.rs
  fuel-vm/src/interpreter/blockchain/test/scwq.rs
  fuel-vm/src/interpreter/blockchain/test/srwq.rs
  fuel-vm/src/interpreter/blockchain/test/swwq.rs
  fuel-vm/src/interpreter/constructors.rs
  fuel-vm/src/interpreter/contract.rs
  fuel-vm/src/interpreter/diff/storage.rs
  fuel-vm/src/interpreter/diff/tests.rs
  fuel-vm/src/interpreter/flow.rs
  fuel-vm/src/interpreter/flow/tests.rs
  fuel-vm/src/interpreter/frame.rs
  fuel-vm/src/interpreter/gas.rs
  fuel-vm/src/interpreter/gas/tests.rs
  fuel-vm/src/interpreter/internal.rs
  fuel-vm/src/interpreter/memory.rs
  fuel-vm/src/lib.rs
  fuel-vm/src/profiler.rs
  fuel-vm/src/storage.rs
  fuel-vm/src/storage/interpreter.rs
  fuel-vm/src/storage/memory.rs
  fuel-vm/src/storage/predicate.rs
  fuel-vm/src/util.rs
Labels: testing, fuel-vm
