Repository FuelLabs/fuel-vm, pull requests merged in 2023-10, with the labels that each got.

#596 Remove BlockHeight arithmetic
  CHANGELOG.md
  fuel-tx/src/tests/valid_cases/transaction.rs
  fuel-types/src/numeric_types.rs
Labels: breaking, fuel-types

#595 Remove wee_alloc dependency, use builtin allocator instead
  CHANGELOG.md
  fuel-asm/Cargo.toml
  fuel-asm/src/lib.rs
Labels: fuel-asm

#594 Predicate input validation tests
  CHANGELOG.md
  fuel-vm/src/error.rs
  fuel-vm/src/predicate.rs
Labels: breaking, tech-debt

#598 Include size lookup of contract for computing LDC opcode cost
  CHANGELOG.md
  fuel-vm/src/interpreter/blockchain.rs
  fuel-vm/src/interpreter/blockchain/code_tests.rs
  fuel-vm/src/interpreter/executors/instruction.rs
  fuel-vm/src/interpreter/flow.rs
  fuel-vm/src/tests/blockchain.rs
Labels: breaking, fuel-vm

#607 Add ECAL instruction
  CHANGELOG.md
  fuel-asm/src/lib.rs
  fuel-asm/src/panic_reason.rs
  fuel-vm/examples/external.rs
  fuel-vm/src/backtrace.rs
  fuel-vm/src/checked_transaction.rs
  fuel-vm/src/interpreter.rs
  fuel-vm/src/interpreter/alu.rs
  fuel-vm/src/interpreter/alu/muldiv.rs
  fuel-vm/src/interpreter/alu/wideint.rs
  fuel-vm/src/interpreter/balances.rs
  fuel-vm/src/interpreter/blockchain.rs
  fuel-vm/src/interpreter/constructors.rs
  fuel-vm/src/interpreter/contract.rs
  fuel-vm/src/interpreter/crypto.rs
  fuel-vm/src/interpreter/debug.rs
  fuel-vm/src/interpreter/diff.rs
  fuel-vm/src/interpreter/diff/storage.rs
  fuel-vm/src/interpreter/ecal.rs
  fuel-vm/src/interpreter/executors/debug.rs
  fuel-vm/src/interpreter/executors/instruction.rs
  fuel-vm/src/interpreter/executors/instruction/tests/reserved_registers.rs
  fuel-vm/src/interpreter/executors/main.rs
  fuel-vm/src/interpreter/executors/main/tests.rs
  fuel-vm/src/interpreter/executors/predicate.rs
  fuel-vm/src/interpreter/flow.rs
  fuel-vm/src/interpreter/gas.rs
  fuel-vm/src/interpreter/initialization.rs
  fuel-vm/src/interpreter/internal.rs
  fuel-vm/src/interpreter/internal/tests.rs
  fuel-vm/src/interpreter/log.rs
  fuel-vm/src/interpreter/memory.rs
  fuel-vm/src/interpreter/memory/tests.rs
  fuel-vm/src/interpreter/metadata.rs
  fuel-vm/src/interpreter/post_execution.rs
  fuel-vm/src/memory_client.rs
  fuel-vm/src/predicate.rs
  fuel-vm/src/tests/blockchain.rs
  fuel-vm/src/tests/code_coverage.rs
  fuel-vm/src/tests/external.rs
  fuel-vm/src/tests/gas_factor.rs
  fuel-vm/src/tests/metadata.rs
  fuel-vm/src/tests/mod.rs
  fuel-vm/src/tests/predicate.rs
  fuel-vm/src/tests/profile_gas.rs
  fuel-vm/src/transactor.rs
  fuel-vm/src/util.rs
Labels: fuel-vm, fuel-asm

#617 Memory write xor execute
  CHANGELOG.md
  fuel-asm/src/panic_reason.rs
  fuel-vm/src/interpreter/executors/instruction.rs
  fuel-vm/src/interpreter/internal.rs
  fuel-vm/src/tests/blockchain.rs
  fuel-vm/src/tests/crypto.rs
  fuel-vm/src/tests/memory.rs
  fuel-vm/src/tests/spec.rs
Labels: breaking, fuel-vm, fuel-asm, audit-report

#615 Make ReceiptsCtx public, allow mut access in tests
  CHANGELOG.md
  fuel-vm/src/interpreter.rs
  fuel-vm/src/interpreter/receipts.rs
Labels: testing, fuel-vm
