Repository FuelLabs/fuel-vm, pull requests merged in 2024-02, with the labels that each got.

#674 Update CI Rust version to 1.75
  .github/workflows/ci.yml
Labels: no changelog

#684 Remove maturity from input coin
  CHANGELOG.md
  fuel-asm/src/args.rs
  fuel-tx/src/builder.rs
  fuel-tx/src/tests/bytes.rs
  fuel-tx/src/tests/valid_cases/input.rs
  fuel-tx/src/tests/valid_cases/output.rs
  fuel-tx/src/tests/valid_cases/transaction.rs
  fuel-tx/src/transaction.rs
  fuel-tx/src/transaction/id.rs
  fuel-tx/src/transaction/types/input.rs
  fuel-tx/src/transaction/types/input/coin.rs
  fuel-tx/src/transaction/types/input/consts.rs
  fuel-tx/src/transaction/types/input/snapshot_tests.rs
  fuel-tx/src/transaction/types/input/snapshots/fuel_tx__transaction__types__input__snapshot_tests__tx_with_predicate_coin_snapshot.snap
  fuel-tx/src/transaction/types/input/snapshots/fuel_tx__transaction__types__input__snapshot_tests__tx_with_signed_coin_snapshot.snap
  fuel-tx/test-helpers/src/lib.rs
  fuel-vm/src/checked_transaction.rs
  fuel-vm/src/interpreter/executors/main/tests.rs
  fuel-vm/src/interpreter/internal/tests.rs
  fuel-vm/src/interpreter/metadata.rs
  fuel-vm/src/predicate.rs
  fuel-vm/src/tests/code_coverage.rs
  fuel-vm/src/tests/contract.rs
  fuel-vm/src/tests/crypto.rs
  fuel-vm/src/tests/encoding.rs
  fuel-vm/src/tests/metadata.rs
  fuel-vm/src/tests/outputs.rs
  fuel-vm/src/tests/predicate.rs
  fuel-vm/src/tests/profile_gas.rs
  fuel-vm/src/tests/validation.rs
  fuel-vm/src/util.rs
Labels: breaking, fuel-tx

#678 Zero malleable fields before execution
  CHANGELOG.md
  fuel-asm/src/args.rs
  fuel-tx/src/builder.rs
  fuel-tx/src/tests/mod.rs
  fuel-tx/src/tests/prepared_init.rs
  fuel-tx/src/transaction.rs
  fuel-tx/src/transaction/types/input.rs
  fuel-tx/src/transaction/types/output.rs
  fuel-tx/src/transaction/types/script.rs
  fuel-vm/src/checked_transaction.rs
  fuel-vm/src/interpreter.rs
  fuel-vm/src/interpreter/blockchain.rs
  fuel-vm/src/interpreter/blockchain/other_tests.rs
  fuel-vm/src/interpreter/blockchain/smo_tests.rs
  fuel-vm/src/interpreter/contract.rs
  fuel-vm/src/interpreter/executors/main.rs
  fuel-vm/src/interpreter/executors/predicate.rs
  fuel-vm/src/interpreter/flow.rs
  fuel-vm/src/interpreter/flow/ret_tests.rs
  fuel-vm/src/interpreter/flow/tests.rs
  fuel-vm/src/interpreter/initialization.rs
  fuel-vm/src/interpreter/internal.rs
  fuel-vm/src/interpreter/log.rs
  fuel-vm/src/interpreter/log/tests.rs
  fuel-vm/src/interpreter/metadata.rs
  fuel-vm/src/tests/metadata.rs
  fuel-vm/src/tests/validation.rs
  fuel-vm/src/util.rs
Labels: breaking, fuel-vm, fuel-asm

#675 Add access to {asset_id,to,amount} fields for Variable and Change outputs
  CHANGELOG.md
  fuel-tx/src/transaction/types/output.rs
  fuel-vm/src/interpreter/metadata.rs
  fuel-vm/src/tests/metadata.rs
Labels: breaking, fuel-vm
