Repository FuelLabs/fuel-vm, pull requests merged in 2025-04, with the labels that each got.

#899 Add a feature that propose `u32` `tx_pointer` in `fuel-tx` and `fuel-vm`
  .changes/added/899.md
  fuel-tx/Cargo.toml
  fuel-tx/src/builder.rs
  fuel-tx/src/transaction/types/input/ser_de_tests.rs
  fuel-tx/src/tx_pointer.rs
  fuel-vm/Cargo.toml
  fuel-vm/src/tests/validation.rs
  version-compatibility/Cargo.toml
  version-compatibility/src/fuel_tx.rs
Labels: xxx

#933 Don't update balance if change is zero
  .changes/breaking/933.md
  fuel-vm/src/interpreter/contract.rs
  fuel-vm/src/interpreter/flow.rs
Labels: fuel-vm

#934 Include input_index of the predicate that failed verification
  .changes/breaking/934.md
  fuel-vm/src/checked_transaction.rs
  fuel-vm/src/error.rs
  fuel-vm/src/interpreter/executors/main.rs
  fuel-vm/src/interpreter/executors/predicate.rs
  fuel-vm/src/predicate.rs
  fuel-vm/src/tests/predicate.rs
Labels: breaking, fuel-vm

#940 Clean the dirty part of the memory instance when we reallocate heap
  .changes/fixed/940.md
  CHANGELOG.md
  fuel-vm/src/interpreter/memory.rs
  fuel-vm/src/interpreter/memory/allocation_tests.rs
Labels: bug
