Repository FuelLabs/fuel-vm, pull requests merged in 2025-05, with the labels that each got.

#951 Fix title of the unreleased section in changelog.
  CHANGELOG.md
Labels: no changelog

#950 Release v0.61.0
  .changes/added/899.md
  .changes/added/939.md
  .changes/breaking/778.md
  .changes/breaking/933.md
  .changes/breaking/934.md
  .changes/breaking/935.md
  .changes/breaking/936.md
  .changes/breaking/938.md
  .changes/changed/913.md
  .changes/fixed/940.md
  CHANGELOG.md
  Cargo.toml
Labels: no changelog, pr release

#952 hotfix: Check changelog job should only run on PRs
  .github/workflows/ci.yml
Labels: no changelog

#954 Release v0.61.1
  .changes/added/953.md
  CHANGELOG.md
  Cargo.toml
Labels: no changelog, pr release

#923 Narrow integer load/store operations
  .changes/added/923.md
  fuel-asm/src/lib.rs
  fuel-asm/src/op.rs
  fuel-vm/src/interpreter/executors/instruction.rs
  fuel-vm/src/interpreter/executors/instruction/tests/reserved_registers.rs
  fuel-vm/src/interpreter/executors/opcodes_impl.rs
  fuel-vm/src/interpreter/memory.rs
  fuel-vm/src/interpreter/memory/allocation_tests.rs
  fuel-vm/src/tests/alu.rs
  fuel-vm/src/tests/memory.rs
Labels: fuel-vm

#922 Narrow integer arithmetic instructions
  .changes/added/922.md
  .npm/packages/fuel-asm/index.test.mjs
  fuel-asm/src/args.rs
  fuel-asm/src/args/narrowint.rs
  fuel-asm/src/lib.rs
  fuel-asm/src/op.rs
  fuel-tx/src/transaction/consensus_parameters/gas.rs
  fuel-tx/src/transaction/consensus_parameters/gas/default_gas_costs.rs
  fuel-vm/src/interpreter/alu.rs
  fuel-vm/src/interpreter/alu/narrowint.rs
  fuel-vm/src/interpreter/executors/instruction.rs
  fuel-vm/src/interpreter/executors/instruction/tests/reserved_registers.rs
  fuel-vm/src/interpreter/executors/opcodes_impl.rs
  fuel-vm/src/tests/alu.rs
Labels: fuel-vm

#961 Prepare for 0.62.0 release
  .changes/added/922.md
  .changes/added/923.md
  .changes/added/925.md
  .changes/added/953.md
  .changes/breaking/959.md
  CHANGELOG.md
  Cargo.toml
Labels: no changelog, pr release
